<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Practica SARO</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="topbar">
  <div id="topbarleft"> </div>
  <div id="topbarright">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="todas">Todas</a></li>
      <li><a href="ayuda">Ayuda</a></li>
    </ul>
  </div>
  <h1>Actividades Culturales y de Ocio Municipal en los próximos 100 días</h1>
  <h2></h2>
</div>
<div id="content">
  <div id="contentleft">
    <h1>Actividades. Todas
	{% if user.is_authenticated %}
	<form action="actualizar" method="Post">
      {% csrf_token %}
      <input type="submit" value="Actualizar" />
    </form>
	{% endif %}
	</h1>
    <p class="small"></p>
    <blockquote>
      {% for event in events %}
        <a href="actividad/{{ event.id }}">{{ event.title }}</a>
        |{{event.date}} {{event.kind}}</p>
		{% if user.is_authenticated %}
			<form action="" method="Post">
            {% csrf_token %}
        	<input type="submit" name="{{ event.id }}" value="Add" /></p>
            </form>
		{% endif %}
      {% endfor %}
	</p>
    <div style="clear:both;"></div>
  </div>
  <div id="right_sidebar">
    <ul>
      <li id="Login">
        {% if user.is_authenticated %}
            <h2>Bienvenido {{user.username}}</h2>
			<a href="{{user.username}}/rss">Canal RSS</a>
            <a href="logout">Cerrar sesión</a>
        {% else %}
            <h2>Login</h2>
            <form action="login" method="Post">
            {% csrf_token %}
                <label for="username">Name</label> 
                <input name="username" type="text" value="" />
                <label for="username">Password</label>
                <input name="password" type="password" value="" />
                <input type="submit" value="login" />
            </form>
        {% endif %}
      </li>
      <li id="Users">
        <h2>Usuarios</h2>
        <ul>
          <li>
			{% for user in users %}
                <a href="/{{ user.username }}">Pagina de {{ user.username }}</p>
      	    {% endfor %}
          </li>
        </ul>
      </li>
      <li id="Filter">
        <h2>Filtro busqueda</h2>
        <ul>
          <form method="Post" action="">
          {% csrf_token %}
                Filtro: <select name=Filter>
                <option value=date Site>Fecha</option>
                </select>
                <br><input type=submit name=button value=Filtrar>
           </form>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div style="clear:both;"></div>
<div id="footerbg">
<div id="credits">
  <p><a href="#">Homepage</a> | <a href="#">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> | This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></p>
</div>
</body>
</html>
